@media screen and (max-width: 768px)
	
	.main-content .wrap, .wrap
		width 88%
		
	/*Footer*/
	.main-footer
		display none
		
	// The Header	
	.main-header
		height 47px
		
	.main-content .about-me
		width 100%
		
	.main-content .me-walking
		display none

	.main-header .menu-button
		display block
		
	.language 
		display none
		
	.main-header .social-icons
		top 18px
		
	.content
		width 100%
		line-height 30px

	.post .post-content img,
	.post .post-content pre
		width 100%
		
	.post .post-content pre,
	.post .post-content ul
		word-break break-word
		
	.main-header .social-icons a:last-child
		padding 0 0 0 10px
	
@media screen and (max-width: 450px)

	.main-header .social-icons
		width 42%
		
		
		
