layout: index-lang
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
comments: false
---
p Hi there, my name is Firmino, I'm a web developer at <a href="http://www.kiandahub.com">KiandaHUB</a> and founder of <a href="http://criativament.github.io">Criativament</a> startup.
br
p I'm also the co-founder and the co-organizer of <a href="http://meetus.angodev.com">Meet.us()</a> and I study Computer Science at <a href="http://www.ispk.co.ao">ISPK</a>.
br
p Luanda, Angola.

