layout: page
name: Contacto
shortdescription: Entre em contacto comigo.
---

p Deseja entrar em contacto comigo? Use um dos endereços de e-mails que disponibilizo abaixo:
br
ul
	li 
		a(href="mailto:flowck96@hotmail.com") flowck96@hotmail.com
	li 
		a(href="mailto:flowck96@hotmail.com") flowck96@gmail.com
