layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
comments: false
---
p Hello, my name is Firmino. I am a We Developer who works for an awesome company in Luanda, Angola :)
br
p Also co-founder of BrazilJS Foundation1, member atthe Google Devealopers Expert Program2, host on Zone of Front-enders3 and graduated in Computer Science.

