layout: page
shortdescription: Saiba mais sobre mim.
name: Quem sou
---
p Meu nome é Firmino Changani, porém na web sou conhecido por Flowck II. Tenho 19 anos, sou empreendedor, desenvolvedor web e estudante. Actualmente resido em Luanda, Angola.
br
p Como empreendedor, fundei em <b>2013</b> a startup <a href="http://criativament.github.io">Criativament</a> naqual o principal projecto é uma aplicação para Android, <a href="https://www.facebook.com/ogirabola">Ogirabola</a>, que faz a cobertura do campeonato de futebol de Angola.
br
p Em <b>2014</b> co-criei e co-organizei um evento focado para programadores angolanos, chamado <a href="http://www.angodev.meetus.com">Meet.Us()</a>, cuja <a href="http://www.menosfios.com/resumo-meet-us-o-evento-que-reuniu-programadores-angolanos/">1ª edição</a> foi realizada em Setembro do corrente ano. O mesmo teve a sua <a href="http://www.menosfios.com/veja-como-foi-o-2o-encontro-de-programadores-angolanos-meet-us-2015/">2ª edição</a> em Janeiro de <b>2015</b>.
br
p Como desenvolvedor, o meu ambiente é o <b>web</b>. Usei tecnologias 100% web para o desenvolvimento da aplicação Ogirabola que no caso é um app <b>híbrido</b> desenvolvido com o stack HTML (jade)/CSS (stylus)/Javascript (NodeJS para o webservice) e MongoDB.
br 
p Em Janeiro de <b>2015</b> juntei-me ao <a href="http://www.kiandahub.com">KiandaHUB</a>, uma startup com o objectivo de se tornar na casa das startups em Luanda.
p Actualmente frequento o 3º ano de Engenharia Informática no <a href="http://www.ispk.co.ao">Instituto Superior Politécnico Katangoji</a> (ISPK).