layout: index-lang
name: "🏠"
shortdescription: "Aqui falo de desenvolvimento de software, integrações de sistemas e empreendedorismo"
---
p Olá, meu nome é Firmino, sou fundador da startup <a href="http://looplab.co.ao">LoopLab</a> e CTO na <a href="http://www.kiandahub.com">KiandaHUB</a>.
br
p Sou também o criador e co-organizador do <a href="http://meetus.angodev.com">Meet.us()</a> e estudo Engenharia Informática na <a href="http://www.ugs.ed.ao/">Universidade Gregório Semedo</a>.
br
p Luanda, Angola.

