layout: index-lang
name: :)
shortdescription: "Meu site pessoal :)"
---
p Olá, meu nome é Firmino, sou desenvolvedor web no <a href="http://www.kiandahub.com">KiandaHUB</a> e fundador da startup <a href="http://criativament.github.io">Criativament</a>.
br
p Sou também co-fundador e co-organizador do <a href="http://meetus.angodev.com">Meet.us()</a> e estudo Engenharia Informática no <a href="http://www.ispk.co.ao">ISPK</a>.
br
p Luanda, Angola.

