doctype html
html(lang="pt")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="icon" href="/img/favicon.png")

		title= "Flowck II"
		meta(name="description", content="Bem vindos ao meu site pessoal")
		meta(name="robots" content="index, follow")

		meta(name="google-site-verification" content="s4FkVN63DnXtQsJtzncZEX8dXseQT7ThnGOfpraTmmQ")

		// Facebook Open Graphs
		meta(property="og:locale" content="pt_PT")
		meta(property="og:url" content="http://flowck.github.io")
		meta(property="og:title" content="Flowck II")
		meta(property="og:site_name" content="Flowck")
		meta(property="og:image" content!="http://flowck.github.io/img/cover-november-kilamba.jpg")
		meta(property="og:image:type" content="image/jpeg")
		
		// Twitter
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@flowck")
		meta(name="twitter:title" content="Flowck II")
		meta(name="twitter:description" content="Bem vindos ao meu site pessoal")
		meta(property="twitter:image:src" content="http://flowck.github.io/img/cover-november-kilamba.jpg")

		// Font
		link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css')
		// Stylesheets
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/defaults.css")
		link(rel="stylesheet", href="/css/font-awesome-4.3.0/css/font-awesome.min.css")
	body
		script(src="/js/languageRedirect.js")