include ./partial/head
	body
		include ./partial/header

		// Content
		section.main-content
			.wrap

				.content
					.page-title
						h1!=page.name
					.page-content!=page.content

				.column.me-walking
					article.home
						img(src="/img/walking.png", alt="hi-ti's-me-walking")
		include ./partial/footer
